@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');

:root {
    --mauvelous: #EC96AD;
    --rich-black: #0C111D;
    --blush: #E26484;
    --blush-50: rgba(226, 100, 131, 0.5);
    --magnolia: #FFFAFF;
    --green-blue-crayola: #3E92CC;
    --orchid-pink: #F6C8D6;
    --cerise: #D8315B;
    --pale-cerulean: #9FC6E6;
}

* {
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    background-color: var(--rich-black);
    margin: 0;
    padding-bottom: 30px;
}

.hidden {
    display: none;
}

/* ––––– NAV BAR ––––– */

.nav {
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--mauvelous);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 50px 0;
    padding: 10px 15px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;

}

.top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

/* DROPDOWN */

.dropdwn-info {
    display: none;
}

ul {
    text-align: center;
    padding: 0;
}

ul.menu-items li:first-of-type {
    padding-top: 12px;
}

ul.menu-items li {
    padding-top: 38px;
}

ul.menu-items li a {
    color: var(--rich-black);
    cursor: pointer;
    font-size: 1.250em;
    font-weight: 700;
}

ul.menu-items li a:hover, 
ul.menu-items li a:active {
    color: var(--cerise);
}

/* ––––– MAIN ––––– */

.main {
    position: relative;
    z-index: 99;
    text-align: center;
    padding: 90px 35px 0;
}

/* INFO SEC */
/* INTRO */
/* Ariela Israel */

.logo-side {
    display: none;
}

h1 {
    font-size: 2.75em;
    color: var(--magnolia);
}

/* Self-taught Software Engineer  */
.intro p:first-of-type {
    margin-top: -39px;
    font-size: .95em;
    font-weight: 700;
    color: var(--cerise);
    text-transform: uppercase;
}

/* Washington, DC */
.intro p:last-of-type {
    margin-top: -8px;
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    color: var(--blush-50);
}

/* LINKS */
.links {
    margin-top: 39px;
}

.links a {
    font-size: .98em;
    font-weight: 500;
    color: var(--magnolia);
}

#social-link-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
}

#social-link-sec a {
    margin-right: 30px;
}

#social-link-sec a img {
    height: 45px;
    filter: invert(60%) sepia(49%) saturate(3148%) hue-rotate(307deg) brightness(95%) contrast(87%);
    cursor: pointer;
}

#social-link-sec a:last-of-type {
    margin-right: 0;
}

/* SKILLS & STACK */
h3 {
    margin: 42px 0 -8px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 20px;
    color: var(--cerise);
}

.info-sec:last-of-type {
    margin-bottom: 80px;
}

.info-list {
    color: var(--magnolia);
}

.info-list li {
    font-size: .98em;
    font-weight: 500;
    margin-bottom: 6px;
}

.info-list li:last-of-type {
    margin-bottom: -6px;
}

/* NAV BAR FOR WEB VERSION */
.nav-2 {
    display: none;
}

/* TOOLS SEC */
h2 {
    margin: 50px 0 12px;
    font-size: 1.8em;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: #E26484;
}

.tools-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tools-list > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;  
}

#middle {
    gap: 20px;
}

.tools-list img {
    height: 35px;
    filter: invert(93%) sepia(99%) saturate(369%) hue-rotate(206deg) brightness(103%) contrast(116%);
}

/* PROJECT SEC */
.project-pics a, .project-pics img {
    border-radius: 15px;
    width: 100%;
}

.project-pics img {
    margin-bottom: 10px;
}

/* ABOUT SEC */
.about > p {
    font-size: 1em;
    font-weight: 400;
    color: var(--magnolia);
    text-align: left;
}

/* RESUME */
.resume img {
    width: 100%;
    margin: 50px 0 12px;
}

#resume-download {
    background-color: var(--green-blue-crayola);
    border: none;
    padding: 8px 26px;
    border-radius: 15px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

/* CONTACT */
form {
    text-align: left;
}

.col-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.form-label {
    font-size: 1.2em;
    color: var(--orchid-pink);
    margin-bottom: 6px;
}

.reason-list {
    margin-top: 14px;
}

.list1 div {
    margin-bottom: 10px;
}

.input {
    font-size: 1.5em;
    color: var(--magnolia);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid var(--green-blue-crayola);
    caret-color: var(--cerise);
}

/* REASON FOR CONTACTING */
input[type="radio"] {
    /* RADIO RESET */
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    /* RADIO STYLING */
    width: 20px;
    height: 20px;
    border: 4px solid var(--blush);
    border-radius: 50px;
    margin-right: 5px;
}

input[type="radio"]:checked {
    background-color: var(--cerise);
}

.radio-label {
    font-size: 1em;
    color: var(--pale-cerulean);
}

#other-textbox {
    box-sizing: border-box;
    margin: 12px 0;
    padding: 12px;
    height: 7em;
    width: 100%;
    border: none;
    font-size: 1.25em;
    caret-color: var(--green-blue-crayola);
    color: var(--cerise);
    border-radius: 15px;
    animation: curso;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button[type="submit"] {
    background-color: var(--blush);
    border: none;
    padding: 8px 26px;
    border-radius: 15px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

/* –––– FOOTER –––– */
footer {
    margin-top: 30px;
    text-align: center;
    color: var(--magnolia)
}
#sourcecode {
    color: var(--green-blue-crayola);
    font-size: .85em;
}

#sourcecode:hover, #sourcecode:active {
    color: var(--cerise);
}

footer p {
    font-size: .5em;
}

/* RESPONSIVE STYLES */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .tools-list {
        flex-direction: row;
        justify-content: center;
    }

    #middle {
        gap: 15px;
    }
}

/* Laptop and Larger Devices */
@media screen and (min-width: 1024px) {

    .nav {
        display: none;
    }

    .logo-side {
        display: inherit;
        height: 4.25rem;
        margin-bottom: -10px;
    }

    .main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 90px;
        height: 100%;
        width: 25%;
        position: fixed;
        z-index: 102;
        border-radius: 0 50px 0 0;
        background-color: var(--mauvelous);
        text-align: center;
    }

    .intro h1, 
    .intro p:first-of-type,
    .intro p:last-of-type, 
    .links a,
    h3,
    .info-list {
        color: var(--rich-black);
    }

    .links {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #social-link-sec a img {
        filter: invert(7%) sepia(16%) saturate(1372%) hue-rotate(184deg) brightness(98%) contrast(102%)
    }

    h3 {
        margin-top: 20px;
    }

    /* MAIN SECTION */
    .main-sec {
        padding: 100px 80px 20px;
    }

    .main-sec,
    .footer {
        box-sizing: border-box;
        position: relative;
        left: 25%;
        width: 75%;
    }

    .nav-2 {
        box-sizing: border-box;
        display: inherit;
        position: fixed;
        background-color: var(--rich-black);
        padding: 25px 60px 25px 150px;
        left: 20%;
        width: 80%;
        z-index: 101;
    }

    ul.menu-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    ul.menu-items li:first-of-type,
    ul.menu-items li{
        padding-top: 0;
    }

    ul.menu-items li a {
        color: var(--magnolia);
    }

    .main {
        text-align: left;
        padding: 0;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 25px;
    }

    .tools-list {
        flex-direction: row;
        justify-content: center;
    }

    #middle {
        gap: 15px;
    }

    .tools-list img {
        height: 50px;
    }

    .about > p {
        font-size: 1.5em;
    }

    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #resume-download, button[type="submit"] {
        font-size: 1.5em;
    }

    .form-label {
        font-size: 1.5em;
    }

    .input {
        font-size: 1.7em;
    }

    .radio-label {
        font-size: 1.25em;
    }

    .footer {
        padding: 0 80px 20px;
    }
    /* .hidden {
        display: ;
    }

    .top-line {
        display: none;
    }

    .nav-2 {
        background-color: var(--rich-black);
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        z-index: 101;
        height: 80px;
        margin-bottom: 0;
        display: block;
    }

    ul.menu-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    ul.menu-items li:first-of-type{
        padding-top: 0;
    }

    ul.menu-items li{
        padding: 0 5%;
    }

    ul.menu-items li a {
        color: var(--magnolia);
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        padding-top: 0;
        padding-left: 0;
    }

    .info {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        float: left;
        z-index: 105;
        position: fixed;
        margin-top: 0;
        width: 25%;
        height: 100%;
        padding: 95px 30px 0;
        background-color: var(--mauvelous);
    }

    .main-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding:0 5% 0 30%;
        width: 100%;
    }

    .tools-sec {
        padding: 85px 30px 0;
    }
    .tools-list {
        flex-direction: row;
        justify-content: center;
    }

    #middle {
        gap: 15px;
    } */
}